.btn {
  padding: 14px 28px;
  color: #6e6e6e;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #ebe7e7;
  box-shadow: 4x 4px 10px #00000033, -4px -4px 10px #ffffffcc;
  transition: all 0.3s;
}
.btn:hover {
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.2),
    inset -4px -4px 10px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
